[Unit]
Description=Nginx container startup
Author=Me
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a nginx_inst01
ExecStop=/usr/bin/docker stop -t 2 nginx_inst01

[Install]
WantedBy=default.target
